NODE_ENV=local

DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USER=localsplit
DB_PASS=localpass
DB_NAME=localsplit

POSTGRES_PASSWORD=localpass
POSTGRES_USER=localsplit
POSTGRES_DB=localsplit

JWT_SECRET=secret
JWT_EXPIRES_IN=100000000
JWT_REFRESH_SECRET=refresh
JWT_REFRESH_EXPIRES_IN=3000000000